.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
firebase.json
database.rules.json
firestore.indexes.json
.vscode/
.firebase/
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.rules